.index{
    .banner{
        max-width: 1200px;
        margin: 0 auto;
        padding: 120px 50px 150px;
        position: relative;
        // left
        .banner-img{
            max-width: 600px;
            height: 445px;
            border-radius: 12px;
        }
        // right
        .right{
            position: relative;
            border-radius: 12px;
            box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, 0.137);
        }
        .shock-icon{
            width: 60px;
            height: 60px;
            position: absolute;
            right: 35px;
            top: 300px;
        }
        .dinu{
            width: 150px;
            height: 150px;
            position: absolute;
            bottom: -18px;
            left: 45%;
        }
    }
    .pcb-slogan{
        font-size: 45px;
        line-height: 1.8;
    }
    .sub-banner{
        max-width: 992px;
        margin: 0 auto;
        padding: 100px 50px 0;
        position: relative;
        h2{
            font-size: 45px;
            line-height: 1.8;
        }
        .focus{
            font-size: 50px;
        }
    }
    .sub-banner-img{
        padding-bottom: 100px;
    }
    //explain
    .a666{
        padding-top: 100px;
        font-size: 45px;
        line-height: 1.8;
    }
    .explain{
        max-width: 992px;
        margin: 0 auto;
        padding: 0px 50px 120px;
        flex-wrap: wrap;
        .content{
            border-radius: 12px;
            max-width: 50%;
            box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, 0.137);
            line-height: 1.5;
        }
        .content-1{
            height: 170px;
        }
        .content-2{
            height: 310px;
        }
        .content-img{
            width: 100%;
            .arrow-left{
                width: 130px;
                height: 160px;
            }
            .arrow-right{
                width: 120px;
                height: 160px;
            }
        }
        .zolly{
            width: 100px;
            height: 130px;
        }
        .lynn{
            width: 150px;
            height: 110px;
        }
        .dinu{
            width: 110px;
            height: 100px;
        }
    }
    // add
    .add{
        padding: 10px 50px 120px;
        position: relative;
        background-color: $third;
        .add-content{
            max-width: 892px;
            margin: 0 auto;
            padding: 30px;
            background: url(../img/90-50-10.png);
            border: 1px solid #eee; 
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.06) inset;
            line-height: 1.8;
        }
    }
    .tape{
        width: 200px;
        height: 50px;
        background-color: $primary;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    // bg-pic
    .bg-pic{
        position: relative;
        background-color: #0B090A;
        height: 970px;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    .index-con{
        width: 100%;
        font-size: 45px;
        line-height: 1.8;
        padding-top: 120px;
        position: absolute;
        top: 0;
        left:50%;
        transform: translate(-50%, 0%);
    }
    .lil-logo{
        width: 45px;
        height: 45px;
        vertical-align: -10px;
    }
    // three
    .three{
        // background-image: url(../img/note1.jpeg);
        background-color: white;
        background-position: center;
        background-repeat: repeat-y;
        background-size: contain;
        line-height: 1.8;
        padding-top: 70px;
        h2{
            font-size: 45px;
        }
    }
    .weapon{
        max-width: 992px;
        line-height: 1.8;
        padding: 50px 50px 90px;
        li{
            width: 30%;
            .img-1,.img-2,.img-3{
                height: 300px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .img-1{
                background-image:url(https://images.pexels.com/photos/1438072/pexels-photo-1438072.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
                background-position: left;
            }
            .img-2{
                background-image:url(https://images.pexels.com/photos/1262302/pexels-photo-1262302.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
            }
            .img-3{
                background-image:url(https://images.pexels.com/photos/7129036/pexels-photo-7129036.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
            }
            p{
                height: 340px;
            }
        }
    }
    .self-intro{
        .pc-img{
            width: 30%;
            position: relative;
            .img-1{
                width: 300px;
                height: 400px;
                border: 5px solid $third;
                position: absolute;
                top: 250px;
                left: 300px;
                z-index: 2;
            }
            .img-2{
                width: 250px;
                height: 350px;
                border: 5px solid $third;
                position: absolute;
                top: 380px;
                left: 100px;
                z-index: 3;
            }
            .img-3{
                width: 400px;
                height: 300px;
                position: absolute;
                top: 110px;
                z-index: 1;
            }
        }
        .content{
            width: 50%;
            line-height: 1.5;
            .title{
                padding: 90px 0px 0px 50px;
            }
            >ul{
                padding: 0px 50px 90px;
            }
            .border-line{
                max-width:1000px;
                height:2px;
                background: $primary;
            }
            li a,.line,.fb{
                transition: all 0.3s;
                &:hover,&:active{
                    color: $dcard-blue;
                    transform: scale(1.05);
                }
            }
        }
    }
}

@include w1200{
    .index {
        .banner{
            padding: 70px 0px 0px;
            .banner-img{
                max-width: 100%;
                height: auto;
                border-radius: 0;
                margin-right: 0;
            }
            .top{
                display: block;
            }
            .right{
                display: none;
            }
            .dinu-top{
                width: 130px;
                height: 130px;
                vertical-align: -70%;
            }
            .shock-icon-top{
                width: 60px;
                height: 60px;
            }
        }
        .self-intro .pc-img{
            .img-1{
                width: 250px;
                height: 350px;
                left: 250px;
            }
            .img-2{
                width: 230px;
                height: 330px;
                top: 350px;
                left: 100px;
            }
            .img-3{
                width: 350px;
                height: 250px;
            }
        }
        .b-slogan{
            font-size: 35px;
        }
        .dialog-bottom{
            margin: 50px auto;
        }
        .block1,.block2{
            font-size: 28px;
        }
    }
}
@include pad{
    .index{    
        .self-intro .pc-img{
            .img-1{
                width: 230px;
                height: 330px;
                left: 200px;
            }
            .img-2{
                width: 200px;
                height: 300px;
                top: 300px;
                left: 50px;
            }
            .img-3{
                width: 330px;
                height: 230px;
            }
        }
        .bg-pic{
            height: 880px;
        }
        .index-con{
            padding-top: 100px;
        }
        .weapon{
            li p{
                height: 350px;
            }
        }
    }
}
@include w980{
    .index{
        .dialog-bottom{
            display: none;
        }
        .block1,.block2{
            padding: 10px 15px;
        }
        .mob .block1,.mob .block2{
            display: block;
            border-bottom: 20px solid #888888;
        }
        .block2{
            margin-bottom: 20px;
        }
        .explain{
            .zolly,.dinu,.lynn{
                display: none;
            }
            .content-1{
                height: 150px;
                p{
                    margin-left: 0;
                }
            }
            .content-2{
                height: auto;
            }
        }
    }
}
@include w900{
    .index {
        .banner .pcb-slogan{
            font-size: 40px;
        }
        .sub-banner{
            h2{
                font-size: 40px;
                margin-bottom: 35px;
            }.focus{
                font-size: 45px;
            }
        }
        .a666{
            font-size: 40px;
        }
        .self-intro {
            flex-wrap: wrap;
            .pc-img{
                display: none;
                width: 100%;
            }
            .mobile-img{
                display: block;
                width: 80%;
                margin: 0 auto;
                height: auto;
                padding: 90px 50px 0px;
            } 
            .content{
                width: 80%;
                margin: 0 auto;
                padding: 50px 50px 90px;
                > ul{
                    padding: 0px;
                }
                .title{
                    padding: 0px;
                }
            }
        }
        .bg-pic{
            height: 720px;
        }
        .index-con{
            font-size: 40px;
        }
        .three h2{
            font-size: 40px;
        }
        .weapon{
            flex-wrap: wrap;
            li{
                margin: 0 auto 75px;
                width: 80%;
                &:last-child{
                    margin: 0 auto 0px;
                }
                p{
                    font-size: 20px;
                    height: auto;
                }
            }
        }
    }
}
@include mobile{
    .index{
        .banner {
            padding-top: 120px;
            .pcb-slogan{
                font-size: 35px;
            }
            .dinu-top{
                width: 100px;
                height: 100px;
                vertical-align: -50%;
            }
            .shock-icon-top{
                width: 50px;
                height: 50px;
            }
        }
        .sub-banner{
            h2{
                font-size: 35px;
            }
            .focus{
                font-size: 40px;
            }
        }
        .slogan{
            padding: 70px 50px;
        }
        .bg-pic{
            height: 660px;
        }
        .index-con,.three h2,.a666{
            font-size: 35px;
        }
        .a666{
            margin-bottom: 70px;
        }
        .explain{
            padding: 0 50px 30px;
            h3{
                font-size: 30px;
            }
            p{
                line-height: 1.8;
            }
            .arrow-down{
                width: 80px;
                height: 130px;
            }
        }
        .explain-pc,.arrow-left,.arrow-right{
            display: none;
        }
        .explain-mob{
            display: block;
        }
    }
}
@include w630{
    .index{
        .banner {
            .pcb-slogan{
                font-size: 30px;
            }
            .dinu-top{
                width: 80px;
                height: 80px;
                vertical-align: -50%;
            }
            .shock-icon-top{
                width: 45px;
                height: 45px;
            }
        }
        .sub-banner{
            h2{
                font-size: 30px;
            }
            .focus{
                font-size: 35px;
            }
        }
        .bg-pic{
            height: 600px;
        }
        .index-con,.three h2,.a666{
            font-size: 30px;
        }
        .self-intro .content,.weapon li{
            width: 100%;
        }
        .self-intro .mobile-img{
            width: 100%;
            padding: 90px 50px 0px;
        }
        .b-slogan,.bg-note h2{
            font-size: 24px;
        }
        .slogan{
            padding: 60px 50px;
        }
        .block1,.block2{
            margin: 30px auto;
            font-size: 20px;

        }
        .mob .block1,.mob .block2{
            border-bottom: 15px solid #888888;
        }
    }
}
@include w520{
    .index {
        .banner{
            .pcb-slogan{
                font-size: 24px;
            }
            .dinu-top{
                width: 60px;
                height: 60px;
            }
            .shock-icon-top{
                width: 35px;
                height: 35px;
            }
        }
        .sub-banner{
            padding: 100px 50px 0;
            h2{
                font-size: 24px;
            }
            .focus{
                font-size: 28px;
            }
        }
        .bg-pic{
            height: 490px;
        }
        .explain-mob{
            .arrow-down{
                width: 50px;
                height: 80px;
                margin-bottom: 20px;
            }
            h3{
                font-size: 24px;
                margin-bottom: 20px;
            }
            p{
                font-size: 20px;
                margin-bottom: 20px;
            }
        }
        .a666{
            margin-bottom: 50px;
        }
        .index-con,.three h2,.a666{
            font-size: 24px;
        }
        .pc-title{
            display: none;
        }
        .mob-title{
            display: block;
        }
        .weapon li{
            .img-1,.img-2,.img-3{
                height: 250px;
            }
        }
    }
}
@include iphone8-plus{
    .index{
        .banner{
            padding-top: 70px;
            .top{
                display: none;
            }
            .bottom{
                display: block;
            }
            .pcb-slogan{
                padding: 50px 0px 30px;
                margin-bottom: 0;
            }
            .dinu-top{
                width: 100px;
                height: 100px;
                vertical-align: 0%;
                margin: 20px 0 0 20px;
            }
            .shock-icon-top{
                display: none;
            }
        }
        .sub-banner{
            padding: 70px 50px 0;
        }
        .sub-banner-img{
            padding-bottom: 70px;
        }
        .slogan{
            padding: 50px 50px;
        }
        .weapon{
            padding: 30px 50px 50px;
        }
        .self-intro{
            font-size: 18px;
            h2{
                font-size: 24px;
            }
            .mobile-img{
                padding: 50px 50px 0;
            }
            .content{
                padding: 50px;
            }
        }
        .weapon li p{
            font-size: 18px;
        }
    }
}